.header {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.244);
  padding: 20px 0;
}

.logo {
  font-size: 1.5rem;
  font-family: "Neue Montreal", "Helvetica", sans-serif;
  font-weight: 800;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  /* display: flex; */
  flex-direction: row;
  width: 70%;
}

.nav ol {
  display: flex;
  justify-content: flex-end;
}

.header ol li {
  margin-left: 3.5rem;
  padding-left: 0.25rem;
  list-style-type: decimal-leading-zero;
}

.header ol li::marker {
  font-size: 13px;
  font-family: "Neue Montreal";
  font-weight: 800;
  letter-spacing: 1px;
}

.header ol li a {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.header ol li a:hover {
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 8px;
}

.menuButton {
  display: none; /* initially hidden */
}

.showMenu {
  display: block;
}

.mobileNav {
  position: absolute;
  top: 70px; /* Position it right below the header */
  left: 0;
  width: 100%;
  background-color: rgb(49, 49, 49);
  z-index: 999;
  padding: 15vh 0;
}

/* MEDIA query  for smaller laptops down to mobile */
@media (max-width: 1200px) {
  .nav {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
